html {min-height: 100%;
    position:relative;
}

body{
    background-color: pink;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}

h1{
    text-align: center;
    padding-top: 50px;
}    
    
p {
    text-align: center;
}

.buttons {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}

.option {
    padding: 0;
    width: 100px;
    height: 100px;
    border: none;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
    margin: 0 10px;
    color: blue;
    font-size:large;
    font-weight: 900;
}

#rock {
    background-image: url("assets/rock.jpg");
    text-transform: uppercase;
}

#paper {
    background-image: url("assets/paper.jpg");
    text-transform: uppercase;
}

#scissors {
    background-image: url("assets/scissors.jpg");
    text-transform: uppercase;
}

#user-score {
    color:green;
}

#computer-score {
    color:red;
}
footer {
    position:absolute;
    width:100%;
    left:0;
    bottom:0;
    box-sizing:border-box;
    min-height:80px;
    padding-top:5px;
    text-align:center;
    color:white;
    background-color: black;
}
